<header class="container navbar-component-container-navbar fixed-top d-flex align-items-center justify-content-between">
    <div class="navbar-component-container-navbar-title-section">
        <h1 class="m-0 p-0">NIMS.</h1>
    </div>
    <nav class="navbar-component-container-navbar-items-section d-none d-md-flex align-items-center gap-3">
        <a class="nccnis-item" href="">Home</a>
        <a class="nccnis-item" href="">Services</a>
        <a class="nccnis-item" href="">Announcements</a>
        <a class="nccnis-item-contact px-2 py-2 text-white" href="">Contact</a>
    </nav>
    <div class="navbar-component-container-navbar-menu-button-section d-md-none">
        <i data-bs-toggle="offcanvas" href="#navbar-side-menu" class="bi bi-list py-2 ps-4"></i>
    </div>
</header>

<div class="offcanvas offcanvas-start navbar-component-container-side-menu m-0 p-0 w-100" id="navbar-side-menu">
    <div
        class="container navbar-component-container-side-menu-title-section d-flex align-items-center justify-content-between">
        <h1 class="p-0 m-0">NIMS.</h1>
        <i data-bs-dismiss="offcanvas" class="bi bi-list py-2 ps-4"></i>
    </div>
    <div class="offcanvas-body m-0 p-0">
        <nav class="container navbar-component-container-side-menu-nav-items d-flex flex-column gap-3">
            <a class="nccnis-item me-auto" href="">Home</a>
            <a class="nccnis-item me-auto" href="">Services</a>
            <a class="nccnis-item me-auto" href="">Announcements</a>
            <a class="nccnis-item me-auto" href="">Contact</a>
        </nav>
    </div>
</div>