<app-navbar></app-navbar>
<div class="container homepage-component-container-hero-section d-md-flex gap-md-4">
    <div class="homepage-component-container-hero-section-1 d-flex flex-column justify-content-center">
        <p class="m-0 p-0"><b>NIMS School System </b>is the best school in district <b>Rahim Yar Khan </b>providing
            quality
            education to students from all classes.</p>
        <p class="m-0 p-0">Education is our passport to the future, for tomorrow belongs to the people who prepare for
            it
            today.</p>
        <button class="mt-4 d-block px-2 py-2 me-auto">Admissions</button>
    </div>
    <div class="homepage-component-container-hero-section-2">
        <img src="https://images.unsplash.com/photo-1571260899304-425eee4c7efc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="NIMS SCHOOL SYSTEM, RAHIM YAR KHAN">
    </div>
</div>
<app-why-nims></app-why-nims>
<app-nims-campuses></app-nims-campuses>