<div class="container nims-campuses-container">
    <div class="nims-campuses-container-pre-school">
        <h4 class="m-0 p-0">NIMS Pre School</h4>
        <p class="mt-2 mb-0 p-0">NIMS School System, Rahim Yar Khan's <b>Pre School </b>is purpose built with <b>air
                conditioned
            </b>classrooms, <b>spacious activity areas, </b>computer rooms, art
            rooms, kitchen and a swimming pool.
        </p>
        <img class="mt-4"
            src="https://images.unsplash.com/photo-1587323655395-b1c77a12c89a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="">
    </div>
    <div class="nims-campuses-container-pre-school">
        <h4 class="m-0 p-0">NIMS Middle School</h4>
        <p class="mt-2 mb-0 p-0">NIMS Pre School, Rahim Yar Khan's <b>Middle School </b>is provided with all the
            facilities that are required for effective <b>learning.</b></p>
        <img class="mt-4"
            src="https://images.unsplash.com/photo-1528701202755-cf9158dc3da6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=857&q=80"
            alt="">
    </div>
    <div class="nims-campuses-container-pre-school">
        <h4 class="m-0 p-0">NIMS High School</h4>
        <p class="mt-2 mb-0 p-0">NIMS Pre School, Rahim Yar Khan's <b>High School </b>contains <b>state of the art
            </b>labs, library and all other necessary things.</p>
        <img class="mt-4"
            src="https://images.unsplash.com/photo-1629904853716-f0bc54eea481?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="">
    </div>
    <div class="nims-campuses-container-pre-school mb-4">
        <h4 class="m-0 p-0">About The Developer</h4>
        <p class="mt-2 mb-0 p-0">This website is created by student of <b>NIMS School System, Rahim Yar Khan. </b>The
            website has nothing to do with NIMS School System, Rahim Yar Khan. It is just a dummy website. NIMS School
            System is the project of <b>NIMSFORALL. </b>NIMSFORALL is the parent institute of NIMS School System, Rahim
            Yar Khan.</p>
    </div>
</div>