<div class="container why-nims-component-container">
    <div class="why-nims-component-container-1">
        <h4 class="m-0 p-0">Why NIMS?</h4>
        <p class="mt-2 mb-0 p-o">When choosing a school for their <b>children, </b>parents should consider the
            <b>facilities</b> provided
            by each school in order to select the best school for their children’s <b>development. </b>The facilities of
            a
            school impact overall <b>learning </b>process as well as the mental and physical growth of the students.
        </p>
        <p class="m-0 p-0"><b>NIMS School System, Rahim Yar Khan </b>is provided by the following facilities:</p>
    </div>
    <div class="why-nims-component-container-2 row mt-4 gap-4 gap-lg-0">
        <div class="col col-12 col-lg-4 why-nims-component-container-2-item wncc2i-classroom">
            <img src="https://images.unsplash.com/photo-1604134967494-8a9ed3adea0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                alt="">
        </div>
        <div class="col col-12 col-lg-4 why-nims-component-container-2-item wncc2i-library">
            <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="">
        </div>
        <div class="col col-12 col-lg-4 why-nims-component-container-2-item wncc2i-lab">
            <img src="https://images.unsplash.com/photo-1602052577122-f73b9710adba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="">
        </div>
    </div>
</div>